#projects {
  background: hsl(var(--bg-color-dark-variant));
  padding-block-end: calc(var(--spacing-step-5) + 50px);

  h2 {
    margin-block-end: var(--spacing-step-2);
    text-align: center;
  }

  .project-cards {
    display: grid;
    grid-auto-rows: 1fr;
    gap: var(--spacing-step-4);
  }
}
