#projects {
  background: hsl(var(--bg-color-dark-variant));
  text-align: center;
  padding-block-end: 8rem;

  h2 {
    margin-block-end: 2rem;
  }

  .project-cards {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 4rem;
  }
}
