.project-card {
  border-radius: 8px;
  background-color: hsl(var(--bg-color-dark));
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-areas: "content content image image";

  &:hover {
    transition: all 0.5s ease-in-out;
    background-color: hsl(var(--font-color-light-variant), 0.05);

    & .header > .icon {
      transform: translate(0.5rem, -0.5rem) rotate(-135deg) scale(1.3) !important;
    }
  }

  .content {
    border-left: solid 6px hsl(var(--color-highlight-variant));
    border-radius: inherit;
    grid-area: content;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;

    .header {
      position: relative;
      padding: 0.5rem 0;
      color: hsl(var(--font-color-light-variant));

      .icon {
        transition: all 0.5s ease-in-out;
        position: absolute;
        right: 10px;
        top: 10px;
        transform: rotate(-135deg);
      }
    }

    p {
      margin-block: 1rem;
    }

    .github {
      cursor: pointer;

      button {
        width: 100%;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: var(--step-0);
        border-radius: 4px;
        cursor: pointer;
        background-color: hsl(var(--font-color-light));
        border: none;
        padding: 0.5rem 1rem;
        transition: all 0.5s ease-in-out;
        font-family: "RobotoCondensed";

        .icon {
          font-size: var(--step-1);
        }

        a,
        a:visited {
          color: hsl(var(--bg-color-dark));
        }

        &:hover {
          background-color: hsl(var(--font-color-light), 0.8);
          transition: all 0.5s ease-in-out;
        }
      }
    }

    .tech {
      margin-block: 0.25rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      li {
        font-family: "RobotoCondensed";
        font-size: var(--step--1);
        background-color: hsl(var(--color-highlight-variant));
        border-radius: 1rem;
        padding-inline: 1rem;
      }
    }
  }

  .image {
    grid-area: image;
    padding: 0;

    img {
      border-radius: inherit;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 800px) {
  .project-card {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
    grid-template-areas:
      "image"
      "content";

    .content,
    .image {
      border: none;
      border-radius: 8px 8px 0 0;
    }
  }
}

@media (min-width: 801px) {
  .project-card {
    &:nth-of-type(odd) {
      .image {
        border-radius: 0 8px 8px 0;
      }

      &::before {
        left: 0;
      }
    }

    &:nth-of-type(even) {
      grid-template-areas: "image image content content";

      .image {
        border-radius: 8px 0 0 8px;
      }

      .content {
        border-right: solid 6px hsl(var(--color-highlight-variant));
        border-left: none;
      }

      &::before {
        right: 0;
      }
    }
  }
}
