#skills {
  h2 {
    margin-block-end: var(--spacing-step-4);
    text-align: center;
  }

  h4 {
    font-weight: 300;
    font-size: var(--step--1);
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--spacing-step-0);
    row-gap: var(--spacing-step-4);
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: var(--spacing-step-1);

    .icon-container {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;

      .icon {
        width: 32px;
        height: auto;
      }
    }

    img {
      max-width: 32px;
      height: auto;
    }
  }
}
