#resume {
  background: hsl(var(--bg-color-dark-variant));
  line-height: 2;

  h2 {
    text-align: center;
    margin-block-end: var(--spacing-step-4);
  }
}

ul.resume-timeline {
  margin-block: var(--spacing-step-2);
  padding: 0;
  display: inline-block;
}

ul.resume-timeline li {
  list-style: none;
  margin: auto;
  margin-left: 10em;
  min-height: 50px;
  border-left: 1px hsl(var(--color-highlight-variant)) dashed;
  padding: 0 0 50px 30px;
  position: relative;
}

ul.resume-timeline li:last-child {
  border-left: 0;
}

ul.resume-timeline li::before {
  position: absolute;
  left: -18px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 1);
  border-radius: 500%;
  background: hsl(var(--color-highlight-variant));
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

ul.resume-timeline li:hover::before {
  border-color: #232931;
  transition: all 1000ms ease-in-out;
}

ul.resume-timeline li .timestamp {
  text-align: right;
  color: hsl(var(--font-color-light-variant));
  position: absolute;
  width: 200px;
  font-size: 0.8rem;
  left: -225px;
}

ul.resume-timeline li .item-title {
  text-transform: uppercase;
  top: -6px;
  position: relative;
  color: hsl(var(--font-color-light-variant));
  font-weight: 700;
}

ul.resume-timeline li .item-location {
  text-transform: none;
  margin-inline-start: 0.5rem;
  font-weight: 400;
  font-size: var(--step--1);
}

ul.resume-timeline li .item-description {
}

@media screen and (max-width: 1250px) {
  ul.resume-timeline li {
    margin-inline: 1rem;
  }

  ul.resume-timeline li .timestamp {
    position: relative;
    left: 0;
    text-align: left;
  }

  ul.resume-timeline li .item-title {
    top: 0;
  }
}
