form {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .form-input-group {
    display: flex;
    flex-direction: column;
    margin-block-start: var(--spacing-step-2);

    & > p {
      margin-block-start: var(--spacing-step-1);
      border-radius: var(--border-radius-small);
      background-color: hsla(var(--bg-color-error), 0.1);
      border: 1px solid hsla(var(--bg-color-error));
      padding: var(--spacing-step--1) var(--spacing-step-0);
      font-size: var(--step--1);
    }

    label {
      text-transform: uppercase;
      font-size: var(--step--1);
    }

    textarea,
    input {
      font-family: "RobotoCondensed", sans-serif;
      font-size: var(--step-0);
      flex-grow: 1;
      border-radius: var(--border-radius-small);
      color: hsl(var(--font-color-light-variant));
      border: none;
      background-color: hsl(var(--bg-color-dark));
      padding: var(--spacing-step-1);

      &:active,
      &:focus {
        border: none;
        outline: 2px solid hsl(var(--color-highlight-variant), 0.25);
      }
    }
  }

  .submit-button {
    margin-block: var(--spacing-step-2);
  }

  .success-message {
    margin-block: var(--spacing-step-2);
  }
}

@media screen and (min-width: 500px) {
  .extended-input-group {
    display: flex;
    gap: var(--spacing-step-1);

    .form-input-group {
      flex-grow: 1;
    }
  }
}
