header {
  position: sticky;
  top: 0;
  z-index: 50;
  font-family: "RobotoCondensed";
  text-transform: uppercase;
  backdrop-filter: blur(5px);
  background-color: hsl(var(--bg-color-dark));

  &.is-pinned {
    background-color: hsl(var(--color-nav-bar), 0.9);
  }

  #header-container {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    align-items: stretch;
    padding-inline: var(--spacing-step-1);
  }
}
