@font-face {
  font-family: "Roboto";
  src: local("RobotoRegular"), url("./assets/fonts/RobotoRegular.ttf");
}

@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed"), url("./assets/fonts/RobotoCondensed.ttf");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  /* Colors */
  --bg-color-dark: 214, 9%, 15%;
  --bg-color-dark-variant: 214, 8%, 17%;
  --font-color-light: 0, 0%, 100%;
  --font-color-light-variant: 173, 86%, 42%;
  --color-highlight: 27, 96%, 51%;
  --color-highlight-variant: 200, 98%, 39%;
  --color-highlight-variant-hero: 200, 98%, 65%;
  --color-nav-bar: 0, 13%, 12%;
  --bg-color-error: 0, 91%, 50%;

  /* Font Sizes */
  --step--2: clamp(0.5627rem, 0.7403rem + -0.2292vi, 0.6944rem);
  --step--1: clamp(0.9rem, 0.9rem + -0.0656vi, 0.95rem);
  --step-0: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
  --step-1: clamp(1.2rem, 1.0641rem + 0.6796vi, 1.5908rem);
  --step-2: clamp(1.44rem, 1.1585rem + 1.4075vi, 2.2493rem);
  --step-3: clamp(1.728rem, 1.2228rem + 2.5262vi, 3.1805rem);
  --step-4: clamp(2.0736rem, 1.2306rem + 4.2151vi, 4.4973rem);
  --step-5: clamp(2.4883rem, 1.1419rem + 6.7319vi, 6.3592rem);

  /* Spacing */
  --section-spacing: 6rem;
  --spacing-step--1: 0.25rem;
  --spacing-step-0: 0.5rem;
  --spacing-step-1: 1rem;
  --spacing-step-2: 1.5rem;
  --spacing-step-3: 2rem;
  --spacing-step-4: 4rem;
  --spacing-step-5: 5rem;

  /* Border Radius */
  --border-radius: 0.5rem;
  --border-radius-small: 0.25rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: hsl(var(--bg-color-dark));
  color: hsl(var(--font-color-light));
  font-size: var(--step-0);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  text-transform: uppercase;
  font-family: "RobotoCondensed";
  color: hsl(var(--font-color-light-variant));
}

section {
  text-align: left;
  line-height: 1.9;
  padding: var(--section-spacing) var(--spacing-step-0);

  & > div {
    margin: 0 auto;
    width: 1024px;
    padding: 0 2rem;
  }
}

h1 {
  font-size: var(--step-2);
}

h2 {
  font-size: var(--step-1);
}

h3 {
  font-size: var(--step-0);
}

@media only screen and (max-width: 1200px) {
  section > div {
    width: calc(100% - 1rem);
    margin: 0;
    padding: 0 0.5rem;
  }
}

a,
a:visited {
  color: hsl(var(--font-color-light));
  text-decoration: none;
}

/* Utility Classes */
.code-block {
  color: hsl(var(--color-highlight-variant));
}
