button {
  width: 100%;
  margin-bottom: var(--spacing-step-0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-step-0);
  font-size: var(--step-0);
  border-radius: var(--border-radius-small);
  cursor: pointer;
  background-color: hsl(var(--font-color-light));
  border: none;
  padding: var(--spacing-step-0) var(--spacing-step-1);
  transition: all 0.75s ease-in-out;
  font-family: "RobotoCondensed";

  .icon {
    font-size: var(--step-0);
  }

  a,
  a:visited {
    color: hsl(var(--bg-color-dark));
  }

  &:hover {
    background-color: hsl(var(--color-highlight-variant));
    color: hsl(var(--font-color-light));
  }

  .spinner {
    animation: spin infinite 2s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
