nav {
  ul {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: var(--spacing-step-1);
    height: 70px;

    li {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline: var(--spacing-step-1);

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0%;
        height: 3px;
        background-color: hsl(var(--color-highlight));
      }

      &.active::after {
        transition: width 0.5s ease-in;
        width: 100%;
      }
    }
  }
}
