nav {
  ul {
    height: 100%;
    display: flex;
    gap: 1rem;

    li {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline: 1rem;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0%;
        height: 3px;
        background-color: hsl(var(--color-highlight));
      }

      &.active::after {
        transition: width 0.5s ease-in;
        width: 100%;
      }
    }
  }
}
